.header__lang-link {
  margin-right: 18px;

  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: none;
}

.header__lang-link:last-of-type {
  margin-right: 48px;
}

.header__lang-link:hover {
  opacity: 0.3;
  transition: 0.9s;
}

@media screen and (max-width: 766px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.6;
  }
}
