.place__title {
  margin: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  max-width: 460px;
  align-self: end;
  justify-self: stretch;

  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 870px) {
  .place__title {
    font-size: 48px;
    line-height: 50px;
  }
}

@media screen and (min-width: 520px) and (max-width: 768px) {
  .place__title {
    max-width: 340px;

    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 550px) {
  .place__title {
    font-size: 32px;
    line-height: 38px;
  }
}

@media screen and (max-width: 519px) {
  .place__title {
    padding: 0 0 0 16px;
    grid-column: 1/3;
    grid-row: 1;

    font-size: 32px;
    line-height: 35px;
  }
}
