.places {
  margin-top: 92px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1023px) {
  .places {
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
