.cover__subtitle {
  margin: 0 16px 33px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    margin: 32px 412px 245px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    margin: 32px 332px 195px;
  }
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    margin: 32px 204px 115px;
    font-size: 18px;
    line-height: 22px;
  }
}
