.content__section_margin_bottom {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .content__section_margin_bottom {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .content__section_margin_bottom {
    margin-bottom: 64px;
  }
}
