.cover {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  opacity: 1;
  z-index: 1;

  min-height: 740px;
  width: 100%;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
}

.cover:hover .cover__overlay {
  transition: 1s;
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .cover {
    max-height: 250px;
    min-height: 200px;
  }
}
