.cover {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  opacity: 1;
  z-index: 1;

  min-height: 740px;
  max-width: 1184px;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 520px) {
  .cover {
    min-height: 200px;
  }
}
