.lead__caption {
  margin-top: 8px;
  padding: 0;
  max-width: 984px;
  align-self: flex-start;
  display: block;

  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: left;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin: 8px 0 0 0;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding: 0 16px;
  }
}
