.place {
  margin: 0 auto;
  padding: 0 48px 80px 48px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto;
  grid-gap: 48px 40px;
  justify-content: center;
}

.place:last-of-type {
  padding: 0 48px 0 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 48% minmax(min-content, max-content);
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 519px) {
  .place {
    margin: 0 auto 50px auto;
    grid-gap: 0;
  }
}
